<!--<ul class="task-filters">
    <li><a [class.active]="!filter" [routerLink]="['/tasks']">View All</a></li>
    <li><a [class.active]="filter === 'false'" [routerLink]="['/tasks', {completed: false}]">Active</a></li>
    <li><a [class.active]="filter === 'true'" [routerLink]="['/tasks', {completed: true}]">Completed</a></li>
</ul>-->

<div *ngFor="let client of clients | async">
    {{client.firstName}}
    <button (click)="open()">Open</button>
</div>
<!--
<div class="client-list">
    <client-item
    *ngFor="let client of clients | async"></client-item>
</div>-->