<div layout="column" style="height:500px;">
  <md-sidenav-layout>
    <md-sidenav #left [opened]="true" mode="side" layout-padding>
      <md-list>
        <md-list-item>
          <button md-button router-active [routerLink]=" ['Index'] ">
            Index
          </button>
        </md-list-item>
        <md-list-item>
          <button md-button router-active [routerLink]=" ['Home'] ">
            Home
          </button>
        </md-list-item>
        <md-list-item>
          <button md-button router-active [routerLink]=" ['About'] ">
            About
          </button>
        </md-list-item>
        <md-list-item>
          <button md-button router-active [routerLink]=" ['Showings'] ">
            Showing List
          </button>
        </md-list-item>
      </md-list>


      <!-- <h2>Left Sidenav.</h2>
      <br> -->
      <!-- <button md-raised-button class="md-raised md-primary" #mybutton (click)="left.close()">Close</button> -->





    </md-sidenav>
    <!-- <md-sidenav #right align="end" layout-padding>
      <h2>Right Sidenav.</h2>
      <button md-raised-button class="md-raised md-primary" (click)="right.close()">Close</button>
    </md-sidenav> -->
    <md-content layout-padding>
      <md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>

      <router-outlet></router-outlet>

      <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

      <footer>
        <img [src]="angularclassLogo" width="6%">
        <span id="footerText">WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a></span>
      </footer>
      </md-content>
  </md-sidenav-layout>
</div>






<!-- <md-content>
  <md-toolbar color="primary">
      <span>{{ name }}</span>
      <span class="fill"></span>
      <button md-button router-active [routerLink]=" ['Index'] ">
        Index
      </button>
      <button md-button router-active [routerLink]=" ['Home'] ">
        Home
      </button>
      <button md-button router-active [routerLink]=" ['About'] ">
        About
      </button>
      <button md-button router-active [routerLink]=" ['Showings'] ">
        Showing List
      </button>
  </md-toolbar>

  <md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>

  <router-outlet></router-outlet>

  <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

  <footer>
    <img [src]="angularclassLogo" width="6%">
    <span id="footerText">WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a></span>
  </footer>
  </md-content> -->
