.toolBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: gray;
}

.main-content {
  position: fixed;
  top: 48px;
  left: 268px;
  right: 0;
  bottom: 0;
}

.sideNav {
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 0;
  width: 268px;
  background: white;
}

